

body {
    background-color: rgb(0, 191, 255) !important;
}

.centered {
    position: fixed;
    top: 45%;
    left: 49%;
    /* bring your own prefixes */
 
    transform: translate(-50%, -50%);
}


.card-color {
    color : #434343;
}

same-line  {
    display: inline-block;
    width: 50%;
    height: 100%;
}


p {
  
    position: relative;
    left: 500px;
    font-size:25px;
  
  }


div > h5 {
    font-size: 50px;
   
}


b {
    position: fixed;
    left: 105px;
    top: 290px;
}


.custom {
    /* --fa-animation-duration: 30s;  */
    color: rgb(0, 0, 0);
    position: fixed;
    top: 140px;
    left: 90px;
}


.temp {
    font-size: 80px; 
    position: relative; 
    left: 500px;
    top:-10px
}

span  {
    position: fixed;
    left: 180px;
    top: 420px;
}